.user-registration {
  .user-registration-container {
    padding: 1em;
    max-width: 400px;
    .login-input-container {
      display: flex;
      flex-direction: column;

      .login-input-label {
        color: var(--grey4Color);
        justify-content: flex-start;
        display: flex;
      }
      .login-input {
        padding: 0.8em;
        border: 1px solid var(--grey3Color);
        border-radius: 4px;
        margin-top: 4px;
      }
    }
    .login-submit-button {
      margin-top: 1.25em;
      -webkit-font-smoothing: antialiased;
      text-decoration: none;
      display: flex;
      font-weight: bold;
      text-align: center;
      line-height: 1;
      border-radius: 5px;
      border: 2px solid #adacad;
      background-color: transparent;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-appearance: initial !important;
      -webkit-transition: background 0.1s ease, border 0.1s ease;
      transition: background 0.1s ease, border 0.1s ease;
      cursor: pointer;
      background: var(--themeColor);
      color: #fff;
      border-color: var(--themeColor);
      font-size: 1rem;
      padding: 8px 18px;
      align-items: center;
      outline: none;
      width: 100%;
      justify-content: center;
    }
  }
}
